logs/
output/
.idea/
.vscode/ 
coverage.txt
.DS_Store
*.log
*.gok
*.bak
*.out
*.key
*.enc
*.sss
UTC--*
*/build/
bak*
gateway
conf/config.toml
*.toml
go.sum
build/live_deploy/
*build/live_deploy*
*build/*